doctype html
html
  head
    title Harry dance acedemy
    block scripts
    block style
  body
    nav#navbar 
        ul
          div#logo 
            img(src="/static/img/logo.png")
            |HDA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Contact us ]
          li #[a(href="/") Services ]
          li #[a(href="/") Class info ]

    block content
    footer#footer 
        | copyright 2023 &copy; Harry's Dance Acedemy | All right reserved !